* {
    padding: 0;
    margin: 0;
}

/* HEADER POSITIONING and LOGO SIZING  */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
}

.logo {
    width: 100px;
    height: 50px;
    border: 1px solid white;
    border-radius: 25%;
    box-sizing: border-box;
    margin: 5px 0 5px 150px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

ul {
    display: flex;
}

.header-links {
    list-style: none;
    margin: 0 15px 0 0;
}

.header-links:nth-child(3) {
    margin-right: 150px;
}

/* MAIN CONTENT */

.main-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.main-content-img {
    width: auto;
    height: 229.5px;
    margin: 50px 150px;
    padding: 100px 0;
}

.main-content-text {
    margin: 50px 150px;
    max-width: 500px;
    padding: 100px 0;
}

h1 , .main-content-para{
    color: #F9FAF8;
    margin: 5px 0;
}

.main-content-button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 5px 25px;
}
